<header>
    <article class="logo-container">
        <img class="logo-icon" src="assets/img/logo-green.png" alt="fish-ico">
    </article>
    <nav>
        <div>
            <a class="nav-link" routerLink="">Home</a>
            <a class="nav-link" routerLink="/catalog">Catalog</a>
        </div>
        <div *ngIf="isLoggedIn" class="user" >
            <a class="nav-link" routerLink="/create">Create Post</a>
            <a class="nav-link" routerLink="/profile">Profile</a>
            <a class="nav-link" (click)="logout()" routerLink="/logout">Logout</a>
           
        </div>
        <div *ngIf="!isLoggedIn" class="gest" >
            <a class="nav-link" routerLink="/register">Register</a>
            <a class="nav-link" routerLink="/login">Login</a>
        </div>
    </nav>
</header>
