footer {
    background-image: linear-gradient(181deg, #124e78, #e8b77e);
    margin-top: 1em;
    position:fixed;
    bottom: 0;
    width: 100%;
    padding-bottom:30px;  
     
}

footer p {
    margin-left:50%;
    font-size: bold;
}