<main class="create">

    <form  class="form_class"[formGroup]="form" (ngSubmit)="add()">
        <h1>Create Post</h1>

        <div class="form_div">
            <label>Fish Name:</label>
            <input class="field_class" 
            name="name" 
            type="text"
            placeholder="name"
            formControlName="name"
            />

            <label>Image</label>
            <input id="img-url"
             class="field_class" 
             type="text" 
             name="image"  
             placeholder="Image" 
             formControlName="image"/>
            
            <label>Fish Type:</label>
            <input  class="field_class" 
            name="type" 
            placeholder="type"
            formControlName="type"
            />

            <label>Description:</label>
            <textarea  class="field_class" 
            name="description" 
            placeholder="description"
            formControlName="description"
            ></textarea>
            <button class="submit_class" type="submit">Create</button>

        </div>

    </form>
</main>

