.nav-container {
    background-color: #fff;
    max-width: 300px;
    border: 1px solid grey;
}

.nav-container ul {
    list-style: none;

}

.nav-container .nav-link {
    color: rgb(147, 7, 7);
    text-decoration: none;
    margin: 5px 0;
    display: inline-block;
}

.nav-container .nav-link i {
    margin-right: 6px;
}



.nav-button {
    padding: 6px 12px;
}
.nav-button i {
    padding-right: 1px;
}

.nav-button button {
    height: 40px;
    width: 110px;
    color: #fff;
    border-radius: 6px;
    border-width: 3px;
    border-style: solid;
    font-size: 15px;
}

.btn-checkout {
    background-color: rgb(82, 175, 82);
    border-color:rgb(82, 175, 82);
}

.btn-info {
    background-color: rgb(76, 76, 241);
}

.btn-delete {
    background-color:rgb(209, 105, 105)    
}



.list-order {
    background-color: rgb(108 133 126);
    border: 1px solid rgb(116, 15, 15);
    font-size: 20px;
    text-align: justify;

}

.story-book {
    background-color: #DDDDDD;
    border: 1px solid rgb(116, 15, 15);
    text-align: justify;
    padding: 10px;
    max-width: 400px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

section {
    margin: 10px;
}

img {
    height: 150px;
    width: 150px;
}

.destination {
    background-color: #a6e1ec;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    max-width: 800px;
}

.new {
    border: 1px solid black;
    padding: 15px;
    display: inline-block;
    vertical-align: middle;

}

section article img,
article p {
    display: inline-block;
    vertical-align: middle
}

section article p {
    color: #3c4fb4;
    font-weight: bold;
}

.lists {
    background-color: #ededed;
}

.list-h2 {
    background-color: #3c516B;
    color: #fff;
    text-decoration: underline;
    letter-spacing: 3px;
    padding: 15px;
    border-radius: 10px;

}