
.details-wrapper {
    background-color: rgba(255, 255, 255, 0.333);
    display:flexbox; 
    width: auto;
    height: auto;
    border-radius: 30px;
    
}

.insidei-wrap {
    width: auto;
    height: auto;
    margin-left: 30%;
    margin-right: 15%;
    padding-top: 10%;
    padding-bottom: 5%;
}

.detail-item{
    display: inline-block;
    width: 600px;
    height: auto;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 30px;
    vertical-align: middle;
    
    
}

.detail-item img {
    border: 2px solid rgba(169, 152, 198, 0.781);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 16%;
    margin-top: 7%;
    margin-left:25%;
    margin-bottom: 2%;
    
    
}
.detail-item p {
    text-align: justify;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 10%;
}

.owner-btn{
   display:inline-block;
justify-content: space-between;
margin-left: 5%;
}


.like-btn,
.edit-btn,
.delete-btn{
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 12px;
    transform: translate(0);
    background-image: linear-gradient(45deg, #1c8fe1, #585045);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    color: white;
    width: 100px;
    margin-bottom: 10px;
    margin-left: 100px;
    text-decoration: none;
  
}


.detail-item p {
    text-align: justify;
    font-weight: bold;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: 3%;
   
}

    .errorContainer {
        position: fixed;
        background: none;
        right: 20px;
        min-width: 80px;
        display: block;
        z-index: 11111;
        top: 100px;
        text-align: center;
        border-radius: 20px;
        color: rgb(255, 255, 255);
        height: 30px;
        width: 280px;
        
      }