<section class="details-wrapper">
    <div class="insidei-wrap">
        <article class="detail-item">
            <img src="{{fish.image}}">
            <p>Name: {{fish.name}}</p>
            <p>Type: {{fish.type}} </p>
            <p>Description: {{fish.description}}</p>
            <div class="owner-btn" >
                <button *ngIf="isOwner()" class="edit-btn" routerLink="/edit/{{fish._id}}"><i class="fa-solid fa-pen"></i> Edit</button>
                <button *ngIf="isOwner()" (click)="deletePost(fish)" class="delete-btn" routerLink="/delete/{{fish._id}}"> <i
                        class="fa-solid fa-trash-can"></i> Delete</button>
                <button *ngIf="!isLikedUser() && !isOwner()" (click)="liked()" class="like-btn" routerLink="/liked/{{fish._id}}">
                    <i class="fa-sharp fa-solid fa-thumbs-up"></i> Like</button>
            </div>
            <p> {{numLikes()}} Liks</p>
        </article>

    </div>

</section>