body {
    margin: 0;
    padding: 0;
    display:grid;
    overflow:visible;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/127/780/original/free-seabed-vector.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.logo-icon {
    width: 20%;
    height: 90%;
    margin-left: 10px;

}

header {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px;
    background-image: linear-gradient(360deg, #124e78, #e8b77e);
    margin: 10px 10px;
    height: 60px;
    
}
header a:hover {
    color: rgb(202, 203, 204);
}

header article {
    display: flex;
}


footer {
    display: flex;
    position:flex;
    font-size: bold;
    width: 100%;
    background-image: linear-gradient(181deg, #124e78, #e8b77e);
       
}
footer p {
    margin-left:50%;
}

nav {
    height: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-top: 2px;
}

nav a {
    font-size: 1.5rem;
    color: rgb(5, 16, 78);
    font-weight: 400;
    padding: 0 10px;
    cursor: pointer;
}


.details-wrapper {
    background-color: rgba(255, 255, 255, 0.333);
    display:flexbox; 
    width: auto;
    height: auto;
    border-radius: 30px;
    
}

.insidei-wrap {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10%;
    padding-bottom: 5%;
}

.detail-item{
    display: inline-block;
    width: 300px;
    height: 400px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 30px;
    vertical-align: middle;
    
    
}

.detail-item img {
    border: 2px solid rgba(169, 152, 198, 0.781);
    border-radius: 50%;
    width: 190px;
    height: 170px;
    margin: 16%;
    margin-top: 5%;
    
}


.detail-item p {
    text-align: justify;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 7%;
   
}
.detail-item a {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    transform: translate(0);
    background-image: linear-gradient(45deg, #1c8fe1, #585045);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    color: white;
    width: auto;
    margin-left: 30%;
    text-decoration: none;
}

    .errorContainer {
        position: fixed;
        background: none;
        right: 20px;
        min-width: 80px;
        display: block;
        z-index: 11111;
        top: 100px;
        text-align: center;
        border-radius: 20px;
        color: rgb(255, 255, 255);
        height: 30px;
        width: 280px;
        
      }
      
      .errorContainer > p {
        background: linear-gradient(45deg, #15639a, #585045);
        font-size: 20px;
        padding: 20px;
        height: 15px;
        border-radius: 20px;
        
      } 