main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100%;
   
}
.radio-lable {
    float: left;
      clear: none;
      display: block;
      padding: 0px 1em 0px 8px;
/* float:inline-start;
font-size: 10px;
font-weight: bold;
font-family:Arial, Helvetica, sans-serif;
padding-left: 15px; */
}
.radio-div {
    overflow: hidden;
    float: left;
    clear: none;
}

.radio-field {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
    /* float: inline-start;
    padding-left: 15px; */
  
}
.form_class {
    width: 500px;
    padding: 40px;
    border-radius: 40px;
    background-color: white;
    font-family: 'system-ui';
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
}
.form_div {
    text-transform: uppercase;
}
.form_div > label {
    letter-spacing: 3px;
    font-size: 1rem;
}
.info_div {
    text-align: center;
    margin-top: 20px;
}
.info_div {
    letter-spacing: 1px;
}
.field_class {
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'system-ui';
    font-size: 0.9rem;
    letter-spacing: 2px;
}
.submit_class {
    border-style: none;
    border-radius: 5px;
    background-color: #FFE6D4;
    padding: 8px 20px;
    font-family: 'system-ui';
    text-transform: uppercase;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
    cursor: pointer;
}
.errorContainer {
    position: fixed;
    background: none;
    right: 20px;
    min-width: 80px;
    display: block;
    z-index: 11111;
    top: 100px;
    text-align: center;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 280px;

}

.errorContainer>p {
    background: linear-gradient(45deg, #15639a, #585045);
    font-size: 20px;
    padding: 20px;
    height: 15px;
    border-radius: 20px;

}