<main class="form">
  
    <form id="register_form" class="form_class" [formGroup]="form" (ngSubmit)="register()" >
        <div class="form_div">
            <label>Register:</label>

            <input class="field_class" 
            name="register_txt" 
            type="text" 
            placeholder="email" 
            formControlName="email"
            />
            <ng-container *ngIf="form.get('email')?.touched">
                <p class="error" style="color: red;" *ngIf="form.get('email')?.errors?.['required']">
                  Email is required!
                </p>
                <p class="error" style="color: red;" *ngIf="form.get('email')?.errors?.['email']">
                  Email is not valid!
                </p>
              </ng-container>
              <div class="radio-div">
                <p>Please select your gender:</p>

                <label  class="radio-lable" for="male">Male</label>
                <input class="radio-field" 
                name="gender" 
                type="radio" 
                id="mail"
                value="male"
                placeholder="gender" 
                formControlName="gender"
                />
  
                <label class="radio-lable" for="female">Female</label>
                <input class="radio-field" 
                name="gender" 
                type="radio" 
                id="femail"
                value="female"
                placeholder="gender" 
                formControlName="gender"
                /><br>
  
              </div>
             
              <ng-container *ngIf="form.get('gender')?.touched">
                <p class="error" style="color: red;" *ngIf="form.get('gender')?.errors?.['required']">
                  Gender is required!
                </p>
               
              </ng-container>

            <ng-container formGroupName="passGroup">
                <!-- <label>Password:</label> -->
                <input id="pass" 
                class="field_class" 
                name="password_txt" 
                type="password" 
                placeholder="password"
                formControlName="password"
                />
    
                <!-- <label>Repeat Password:</label> -->
                <input id="pass" 
                class="field_class" 
                name="password_txt" 
                type="password" 
                placeholder="password"
                formControlName="rePassword"
                />

                <ng-container *ngIf="passGroup?.get('rePassword')?.touched">
                    <p
                      class="error" style="color: red;"
                      *ngIf="passGroup?.errors?.['matchPasswordsValidator'] || 
                      passGroup?.get('rePassword')?.errors?.['required']"
                    >
                      Passwords does`t match!
                    </p>
                    <p
                    class="error" style="color: red;"
                    *ngIf=" passGroup?.get('password')?.errors?.['minLength']"
                  >
                    Passwords does`t match!
                  </p>
                  </ng-container>
            </ng-container>
           

            <button [disabled]="form.invalid" class="submit_class" type="submit">Register</button>
        </div>
        <div class="info_div">
            <p>Already registered? <a href="/login">Login</a></p>
        </div>
    </form>
</main>
